@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
#root {
  background-color: black;
  min-height: 100vh;
  max-height: 100%;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  border:8px solid;
  border-radius: 50%;
  border-color:#F4DD0A #F4DD0A #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.custom-loader::after {
  border-color:#0000 #0000 #E4E4ED #E4E4ED;
  animation-direction: reverse;
}

.vh-developer{
  height: 90vh;
}

@keyframes s4{ 
  100%{transform: rotate(1turn)}
}